<h1>ALL U CAN BURGER</h1>

<div class="container">
<div class="row">
    <div class="col-6">
        <div class="form-group">
              <label for="">Eat</label>
              <input type="text" class="form-control" id="eat" placeholder="">
            </div>
    </div>
    <div class="col-6">
        <div class="form-group">
              <label for="">Ate</label>
              <input type="text" class="form-control" id="ate" placeholder="">
            </div>
    </div>
</div>
</div>


{{!-- button to submit the user input --}}