<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="list-group">
        <label>Eat</label>

        <div id="burgerList">
          {{!-- add EAT list items here --}}
          {{!-- <ul>
            {{#each burg}}
            <li>{{this}}</li>
            {{/each}}
          </ul> --}}
{{burg}}

        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="list-group">
        <label>Ate</label>
        {{!-- add ATE list items here --}}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
      {{!-- method,action,name and type(submit) are all important parts of working post request --}}
      <form class="form-group" method="post" action="/new">
        <label>Add to Eat</label>
        <input type="text" class="form-control" id="add" name="add" placeholder="Unique Burger Details" required>
        <button type="submit" class="btn btn-primary btn-md" id="add-btn">
          <span class="fa fa-book"></span> Add Ur Burger</button>
      </form>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script> 
 <script src="../assets/js/add.js"></script>